<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link href="http://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <div class="logo-image">
      <img src="images/logo-3.png" class="logo">
    </div>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="adminHome/createNCR">Create NCR</a></li>
      <li><a href="/newSupplier">Add Supplier</a></li>
      <li><button class="btn  btn-outline-primary btn-lg" onclick="location.href='/logout'" type="button">
          logout</button></li>
      <!-- <li><a href="/logout">logout</a></li> -->
    </ul>
  </nav>



  <div class="welcome">
    <H1 style="font-weight: bold">Active NCR</H1>
  </div>
  <!-- <a href="/adminHome/approve/<%=array2.ioNo%>"><%=array2.ioNo%></a>
  <h3>Welcome <%=array2.supplierName%></h3> -->
  <div class="table-responsive table-div-year">
    <table class="table table-striped table-light manual ">
      <thead class="table-primary">
        <tr>
          <th style="padding: 25px;">NCR ID</th>
          <th style="padding: 25px;">Supplier Name</th>
          <th style="padding: 25px;">Active days</th>
        </tr>

      </thead>
      <tbody>
        <% array2.forEach((element)=> {%>

          <tr>
            <td style="padding: 25px;"> <button class="btn  btn-outline-primary "
                onclick="location.href='/adminHome/review/<%=element.ioNo%>'" type="button">
                <%=element.ioNo%>
              </button></li>
            </td>
            <td style="padding: 25px;">
              <%=element.supplierName%>
            </td>
            <td style="padding: 25px;">
              <%= element.date %>
            </td>
          </tr>
          <%});%>
      </tbody>


    </table>


  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</body>

</html>
